# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Plans and text files
*.md

# Secrets and Credentials
.env
cookies.json
cookies.txt
cookies_old.json
cookies_old.txt
base64_cookies.txt
temp_playlist.json
*player-script.js
